# --- Dependencias y Núcleo de Drupal (no se suben porque se gestionan con Composer) ---
/vendor/
/web/core/
/web/libraries/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/

# --- Archivos de configuración local (¡Seguridad!) ---
/web/sites/*/settings.local.php
/web/sites/*/settings.php
/web/sites/*/services.yml
/web/sites/*/development.services.yml

# --- Archivos generados y subidos por usuarios ---
/web/sites/*/files/
/web/sites/*/private/

# --- Archivos de sistema y temporales ---
.DS_Store
Thumbs.db
*.log
*.sql
*.tar.gz

# --- DDEV (archivos de estado local y hosts) ---
.ddev/.ddev-docker-compose-base.yaml
.ddev/.ddev-docker-compose-full.yaml
.ddev/db-build/
.ddev/web-build/
.ddev/commands/
.ddev/xhgui/
.ddev/mutagen/
.ddev/.mutagen-status.txt
